# FastAPI et serveur
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0

# Outils de base
requests==2.31.0
python-dotenv>=0.5.1
pyyaml

# AWS / S3 / MinIO
boto3>=1.26.0
awscli>=1.29.0
dvc[s3]==3.50.1

# Data science et Machine Learning
pandas==2.2.2
scikit-learn==1.4.2
scikit-surprise

# Tracking des expériences
mlflow==2.4.0

# Base de données
psycopg2-binary==2.9.9

# Utilitaires
click
joblib

# Monitoring
prometheus-client>=0.19.0
evidently>=0.4.0

